.Container {
  max-width: 900px;
  margin: auto;
  background-color: rgb(35, 187, 8);
  min-height: 120px;
  border-radius: 10px;
}.Container h1{

  text-align: center;
  font-family:cursive;
  color: white;
  padding-top: 1%;
}.Container input{
  width: 76%;
    margin-left: 7%;
    margin-right: 5%;
    
}.Container button{
  position: relative;
  right: 3.8%;
  margin: 0.1%;

}.Container ul{

  padding-bottom: 5%;
  list-style: none;
  color: white;
  font-family: cursive;



}

